<!-- Footer -->
<footer class="page-footer font-small  elegant-color-dark z-depth-3 fixed-bottom">
  <div class="row">
    <div class="col-2 elegant-color-dark ">
      <div class="switch  elegant-color-dark" *jhiHasAnyAuthority="'ROLE_USER'">
        <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
        <label for="week" class="switch-label switch-label-off" jhiTranslate="home.footer.mode.area">Area</label>
        <input type="radio" class="switch-input" name="view" value="month" id="month">
        <label for="month" class="switch-label switch-label-on" jhiTranslate="home.footer.mode.type">Type</label>
        <span class="switch-selection"></span>
      </div>
    </div>
    <div class=" col-8 footer-copyright text-center py-3 float-left elegant-color-dark">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> Mejdi GHORRI</a>
    </div>
    <div class="col-2"></div>
  </div>

</footer>
<!-- Footer -->