<h1 *ngIf="!isAuthenticated()" class="welcome display-1 grey-text" jhiTranslate="home.title">Welcome</h1>

<div *ngIf="isAuthenticated()" class="row brown lighten-4 m-0 px-0 py-4">
  <!--div class="col-md-2 my-4 py-4">
    <div class="nav-container position-fixed z-depth-5">
      <ul class="nav">
        <li class="active">
          <a href="#">
            <span class="icon-home">
              <fa-icon icon="home"></fa-icon>
            </span>
            <span class="text">home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home text-warning">
              <img [src]="bulbIcone" alt="temp" width="35px">
            </span>
            </span>
            <span class="text">Light</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="tempIcone" alt="temp" width="35px"> 
            </span>
            <span class="text">Temperature</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="humIcone" alt="temp" width="35px">
            </span>
            </span>
            <span class="text">Humidity</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="shutterIcone" alt="temp" width="35px">
            </span>
            <span class="text">Shutter</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="storeIcone" alt="temp" width="35px">
            </span>
            <span class="text">Store</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="heatingIcone" alt="temp" width="35px">
            </span>
            <span class="text">Heating</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="camIcone" alt="temp" width="35px">
            </span>
            <span class="text">Cam</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <img [src]="gpsIcone" alt="temp" width="35px">
            </span>
            <span class="text">about</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <fa-icon icon="list"></fa-icon>
            </span>
            <span class="text">Audio</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-home">
              <fa-icon icon="cloud"></fa-icon>
            </span>
            <span class="text">Portfolio</span>
          </a>
        </li>
        
      </ul>
    </div>

  </div-->

  <div class="col-12 mb-5">
    <div class="row d-flex justify-content-center">

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.livingroom">Living room</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="livingroom" alt="living room"
            class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.bedroom1">Bedroom 1</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="bedroom" alt="bedroom 1"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.bedroom2">Bedroom 2</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="bedroom2" alt="bedroom 2"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.kitchen">Kitchen</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="kitchen" alt="kitchen"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.garden">Garden</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="garden" alt="garden"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.swimmingpool">Swimmingpool</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="swimmingpool" alt="swimmingpool"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

       <div class="col-lg-3 col-md-10 m-4 elegant-color rounded -z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.bathroom">Bathroom</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="bathroom" alt="bathroom"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.hall">Hall</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="hall" alt="hall"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

      <div class="col-lg-3 col-md-10 m-4 elegant-color rounded z-depth-5">
        <h4 class="py-4 text-center text-white" jhiTranslate="home.zones.terrace">Terrace</h4>
        <!--Card-->
        <div class="card card-cascade wider mb-4">
          <!--Card image-->
          <div class="view view-cascade zoom">
            <img
            [src]="terrace" alt="terrace"
              class="card-img-top rounded z-depth-5">
          </div>
          <!--/Card image-->
        </div>
        <!--/.Card-->
      </div>

    </div>
  </div>
</div>
